# Ignore the deprecated directory
.deprecated/

# Ignore all files within the deprecated directory
.deprecated/**

# Ignore local configuration files
config.py

# Ignore the virtual environment directory
.__pycache__/